<!doctype html>
<html lang="en">
	<head>
		<!-- notes:
			> unopened
			> seen
			> solution offered / pending
			> resolved
		-->
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<!-- Bootstrap icons -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
		<link rel="stylesheet" href="css/selfhelp.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
		<title>Make-It-All</title>
	</head>
	<script>
		$(document).ready(function(){
			$('#selectDescription').on('change', function() {
				if (this.value == '999') {
					$("#div_unseenProblem").show();
				} else {
					$("#div_unseenProblem").hide();
				}
			});
		});
	</script>
	<body>
		<nav class="navbar justify-content-between navbar-dark bg-dark">
			<!-- Logo -->
			<a class="navbar-brand" href="#">
				<img src="../assets/nav_logo.png" width="40" height="40" class="mr-2">
				<b>Make-It-All</b>
			</a>
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link mr-2" href="index.html">Log out</a>
				</li>
			</ul>
		</nav>
		
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-12 col-sm-8 my-sm-auto mt-2">
					<b>Welcome back, <%= locals.text || "USER" %></b>
				</div>
			</div>
			<hr>
			
			<!-- problem search & filters -->
			<div class="row">
				<div class="col-md-7">
					<form class="form-inline my-2 my-lg-0">
						<select class="form-control my-2 my-lg-0" id="myFilter" onclick="searchProblem()">	<!-- add js function to allow for search -->
							<option value="0">Case ID</option>
							<option value="1">Date</option>
							<option value="2">Case Status</option>
							<option value="3">Problem title</option>
						</select>
						<input class="form-control ml-sm-2" type="search" placeholder="Search" aria-label="Search" id="myInput" onkeyup="searchProblem()">	<!-- add js function to allow for search -->
					</form>
				</div>
				<div class="col-md-4 mb-3 my-2 my-lg-0">
					<div class="ml-2 row">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
							<label class="form-check-label" for="flexCheckDefault">
								View recent problems
							</label>
						</div>	
					</div>
					<div class="ml-2 row">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
							<label class="form-check-label" for="flexCheckDefault">
								View unresolved problems
							</label>
						</div>
					</div>
				</div>
			</div>
			<hr>
			
			<!-- scroll of cards -->
			<div class="testimonial-group mb-5">
				<div class="row Flipped">
				
					<div class="col-10 col-md-7 col-lg-4">	<!-- card 1 -->
						<div class="card testimonial-card">
							<!-- card header -->
							<div class="card-header">
								<div class="row">
									<div class="col-6">
										Case 1
									</div>
									<div class="col-6 text-right">
										<!--	
												Open:	ticket has been submitted 	??? do we need this, seems obsolete
											  Closed:	issue has been resolved		[dark grey]						<span class="badge badge-dark">Closed</span>
											 Pending:	user is trying the solutions offered to them	[green]		<span class="badge badge-success">Pending</span>
											Assigned:	user has been assigned to a specialist			[yellow]	<span class="badge badge-warning">Assigned</span>
										-->
										<span class="badge badge-dark">Closed</span>
									</div>
								</div>
								<div class="row">
									<div class="col">
										Date submitted
									</div>		
								</div>
							</div>
							<!-- card body -->
							<div class="card-body">
								<div class="text-truncate">
									<h5 class="card-title">{Problem title}</h5>
								</div>
								<ul>
									<li>Hardware make</li>
									<li>Hardware model</li>
									<li>Software type</li>
								</ul>
								<hr>
								<!-- solution fix here -->
								<b>Solution offered</b>
								<div class="col text-truncate">
									Praeterea iter est quasdam res quas ex communi.Praeterea iter est quasdam res quas ex communi.Praeterea iter est quasdam res quas ex communi.
								</div>
							</div>
							<!-- card footer -->
							<div class="card-footer text-muted">
								<button type="button" class="btn" data-toggle="modal" data-target="#exampleModal">
									Expand
								</button>
							</div>
						</div>	
					</div>
					
					
					<div class="col-10 col-md-7 col-lg-4">	<!-- card 2 -->
						<div class="card testimonial-card">
							<!-- card header -->
							<div class="card-header">
								<div class="row">
									<div class="col-6">
										Case 2
									</div>
									<div class="col-6 text-right">
										<!--	
												Open:	ticket has been submitted 	??? do we need this, seems obsolete
											  Closed:	issue has been resolved		[dark grey]						<span class="badge badge-dark">Closed</span>
											 Pending:	user is trying the solutions offered to them	[green]		<span class="badge badge-success">Pending</span>
											Assigned:	user has been assigned to a specialist			[yellow]	<span class="badge badge-warning">Assigned</span>
										-->
										<span class="badge badge-success">Pending</span>
									</div>
								</div>
								<div class="row">
									<div class="col">
										Date submitted
									</div>		
								</div>
							</div>
							<!-- card body -->
							<div class="card-body">
								<div class="text-truncate">
									<h5 class="card-title">{Problem title}</h5>
								</div>
								<ul>
									<li>Hardware make</li>
									<li>Hardware model</li>
									<li>Software type</li>
								</ul>
								<hr>
								<!-- solution fix here -->
								<b>Solution offered</b>
								<div class="col text-truncate">
									Praeterea iter est quasdam res quas ex communi.Praeterea iter est quasdam res quas ex communi.Praeterea iter est quasdam res quas ex communi.
								</div>
							</div>
							<!-- card footer -->
							<div class="card-footer text-muted">
								<button class="btn">
									Expand
								</button>
							</div>
						</div>	
					</div>
					
					<div class="col-10 col-md-7 col-lg-4">	<!-- card 3 -->
						<div class="card testimonial-card">
							<!-- card header -->
							<div class="card-header">
								<div class="row">
									<div class="col-6">
										Case 3
									</div>
									<div class="col-6 text-right">
										<!--	
												Open:	ticket has been submitted 	??? do we need this, seems obsolete
											  Closed:	issue has been resolved		[dark grey]						<span class="badge badge-dark">Closed</span>
											 Pending:	user is trying the solutions offered to them	[green]		<span class="badge badge-success">Pending</span>
											Assigned:	user has been assigned to a specialist			[yellow]	<span class="badge badge-warning">Assigned</span>
										-->
										<span class="badge badge-warning">Assigned</span>
									</div>
								</div>
								<div class="row">
									<div class="col">
										Date submitted
									</div>		
								</div>
							</div>
							<!-- card body -->
							<div class="card-body">
								<div class="text-truncate">
									<h5 class="card-title">{Problem title}</h5>
								</div>
								<ul>
									<li>Hardware make</li>
									<li>Hardware model</li>
									<li>Software type</li>
								</ul>
								<hr>
								<!-- solution fix here -->
								<b>Solution offered</b>
								<div class="col text-truncate">
									Praeterea iter est quasdam res quas ex communi.Praeterea iter est quasdam res quas ex communi.Praeterea iter est quasdam res quas ex communi.
								</div>
							</div>
							<!-- card footer -->
							<div class="card-footer text-muted">
								<button class="btn">
									Expand
								</button>
							</div>
						</div>	

					</div>
					
					<div class="col-10 col-md-7 col-lg-4">	<!-- card 4 -->
						<div class="card testimonial-card">
							<!-- card header -->
							<div class="card-header">
								<div class="row">
									<div class="col-6">
										Case 4
									</div>
									<div class="col-6 text-right">
										<!--	
												Open:	ticket has been submitted 	??? do we need this, seems obsolete
											  Closed:	issue has been resolved		[dark grey]						<span class="badge badge-dark">Closed</span>
											 Pending:	user is trying the solutions offered to them	[green]		<span class="badge badge-success">Pending</span>
											Assigned:	user has been assigned to a specialist			[yellow]	<span class="badge badge-warning">Assigned</span>
										-->
										<span class="badge badge-dark">Closed</span>
									</div>
								</div>
								<div class="row">
									<div class="col">
										Date submitted
									</div>		
								</div>
							</div>
							<!-- card body -->
							<div class="card-body">
								<div class="text-truncate">
									<h5 class="card-title">{Problem title}</h5>
								</div>
								<ul>
									<li>Hardware make</li>
									<li>Hardware model</li>
									<li>Software type</li>
								</ul>
								<hr>
								<!-- solution fix here -->
								<b>Solution offered</b>
								<div class="col text-truncate">
									Praeterea iter est quasdam res quas ex communi.Praeterea iter est quasdam res quas ex communi.Praeterea iter est quasdam res quas ex communi.
								</div>
							</div>
							<!-- card footer -->
							<div class="card-footer text-muted">
								<button class="btn">
									Expand
								</button>
							</div>
						</div>	
					</div>
				</div>
			</div>

			<!-- card 1 modal -->
			<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
					<div class="modal-content">
						<!-- modal header -->
						<div class="modal-header">
							<ul>
								<li><h5 class="modal-title" id="exampleModalLabel">Case 1</h5></li>
								<li><p class="modal-title">Date Opened: 02/04/2021</p></li>
							</ul>
							<span class="badge badge-dark">Closed</span>							
						</div>
						<!-- modal body -->
						<div class="modal-body">
							<ul>
							   <li><b>Caller Name:</b> {SYSTEM GENERATED FROM DB}</li>
							   <li><b>Software type:</b> MacOS</li>
							   <li><b>Hardware type:</b> MacBook</li>
							   <li><b>Problem description:</b> Screen switches off randomly.</li>
							</ul>
							<hr>
							<b>Solution offered: </b>
							<p>Praeterea iter est quasdam res quas ex communi.Praeterea iter est quasdam res quas ex communi.Praeterea iter est quasdam res quas ex communi.</p>
							<hr>
							<h5>Notes</h5>
							<br>
							<button class="btn" type="button" data-toggle="collapse"
							   data-target="#collapseNoteInput" aria-expanded="false" aria-controls="collapseFilters">
							   + Add Notes
							</button>
							<div class="collapse" id="collapseNoteInput">
							   <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
							</div>
						</div>
						<!-- modal footer -->
						<div class="modal-footer">
							<button type="button" class="btn">Submit</button>
							<button type="button" class="btn" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		
		</div>	<!-- container modal -->

		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
</html>