body{
    background-image: url("../../assets/bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.table {
	user-select: none;	
}

.dataTable {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background-color: white;
}

.dataTable thead tr {
    background-color: #ff781f;
    color: #ffffff;
    text-align: left;
}

.scrollTable {
    position: relative;
    height:50rem;
    overflow: auto;
    overflow-x: hidden;
}

.scroll-y {
    background-color: #ff781f;
    display: block;
}

a { text-decoration: none;
color: black;}
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.expandProblemStyle {
	cursor: pointer;
}